.presentation {
  max-width: 550px;
  width: 90%;
  margin: auto;
  margin-top: 60px;
}

.presentation-profile-div {
  width: 55%;
  max-width: 280px;
  margin: auto;
  text-align: center;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.presentation-profile-img {
  /*max-width: 350px;*/
  width: 100%;
  border-radius: 62% 44% 56% 38% / 51% 49% 48% 52%;
  opacity: 0.98;
}

.loading-container {
  display: inline-block;
  position: relative;
  padding-top: 10px;
  padding-right: 10px;
  overflow: hidden;
  width: 100%;
  transition: all 0.2s ease;
}

.loading-container > .loading-first-overlay,
.loading-container > .loading-second-overlay,
.loading-container > .loading-third-overlay,
.loading-container > .loading-fourth-overlay {
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transform: translateX(0);
  transition: transform 0.95s cubic-bezier(0.694, 0.048, 0.335, 1);
  z-index: 60;
}

.loading-container > .loading-first-overlay.is-reveal,
.loading-container > .loading-second-overlay.is-reveal,
.loading-container > .loading-third-overlay.is-reveal {
  opacity: 1;
  transform: translateX(105%);
}

.presentation-intro h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 1.9em;


  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .13em; /* Adjust as needed */
  animation: typing 2s steps(40, end);
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  


.presentation-intro h2 {
  margin-top: -15px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  background-image: var(--linear-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.presentation-intro p {
  margin: 20px 0;
  text-align: center;
}

.presentation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: auto;
}

.presentation-buttons > .contact-me,
.presentation-buttons > .find-more {
  display: inline-block;
  width: 140px;
  margin: 10px 7px;
  padding: 15px 0;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.presentation-buttons > .contact-me {
  cursor: pointer;
  color: #ffff;
  background-image: var(--linear-gradient);
  transition: all 0.5s ease 0s;
}

.presentation-buttons > .contact-me:hover {
  filter: saturate(130%) contrast(150%);
}

.presentation-buttons > .find-more {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background: transparent;
  transition: all 0.2s ease-in-out;
}

.presentation-buttons > .find-more:hover {
  cursor: pointer;
  color: #ffff;
  background-image: var(--linear-gradient);
}

.presentation-buttons > .find-more .icon {
  margin-left: 4px;
}

.presentation-soft {
  margin: 20px 0;
  text-align: center;
}

.presentation-soft > .title {
  margin: 20px 0;
}

/**
*   Desktop Media Query
**/

@media (min-width: 980px) {
  .presentation {
    width: 100%;
    max-width: 920px;
    margin: auto;
    margin-top: 180px;
  }
  
  .presentation-flexbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .presentation-profile-div {
    order: 2;
    width: 45%;
    max-width: 380px;
    height: auto;
  }
  
  .presentation-profile-img {
    /*max-width: 480px;*/
    width: 100%;
  }
  
  .presentation-container {
    order: 1;
    width: 55%;
  }

  .presentation-intro h1 {
    text-align: left;
    font-size: 3.6em;
    letter-spacing: 0.05em;
  }

  .presentation-intro h2 {
    text-align: left;
    font-size: 2.1em;
  }


  .presentation-intro p {
    margin: 20px 5px;
    text-align: left;
  }

  
  .presentation-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 30px 0 0 5px; 
  }
  
  .presentation-buttons > .contact-me,
  .presentation-buttons > .find-more {
    width: 30%;
    margin: 0;
    margin-right: 10px;
  }
  
  .presentation-buttons > .contact-me {
    color: #ffff;
    background-image: var(--linear-gradient);
    transition: all 0.5s ease 0s;
  }
  
  .presentation-buttons > .contact-me:hover {
    filter: saturate(130%) contrast(150%);
  }
  
  .presentation-buttons > .find-more:hover {
    color: #ffff;
    background-image: var(--linear-gradient);
  }

  .presentation-flexbox > .loading-container {
    order: 3;
  }

  .presentation-soft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 140px 0;
    text-align: center;
  }

  .presentation-soft > .title {
    width: 40%;
    font-size: 1.4em;
    line-height: 1.6;
    letter-spacing: 0.0025em;
  }

  .presentation-soft > .title > h2 {
    max-width: 70%;
  }

  .presentation-soft > .info {
    padding-left: 20px;
    width: 50%;
  }
  
}
