.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 24px;
}

.projects > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.projects > .container > .description {
  order: 2;
  position: relative;
  width: 100%;
  max-width: 550px;
  align-self: center;
  justify-self: center;
  margin-top: 78px;
}

.projects > .container > .description > .count {
  position: absolute;
  left: -90px;
  top: -110px;
  opacity: 0.1;
  font-size: 200px;
  line-height: 100%;
  font-weight: 700;
}

.projects > .container > .description > .tagline {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  color: #fbd784;
  -webkit-box-align: center;
}

.projects > .container > .description > .tagline > .tagline-line {
  width: 40px;
  height: 2px;
  margin-right: 16px;
  background-color: #fbd784;
}

.projects > .container > .description > .tagline > .heading-tagline {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
}

.projects > .container > .description > .head {
  margin-top: 0px;
  margin-bottom: 24px;
  line-height: 110%;
  font-weight: 600;
  font-size: 40px;
  text-align: left;
}

.projects > .container > .description > p {
  margin-bottom: 24px;
  line-height: 28px;
  text-align: left;
}

.projects > .container > .description > .link-to {
  display: flex;
  align-items: center;
  width: 180px;
  font-weight: 700;
  color: #fbd784;
  text-decoration: none;
  margin-bottom: 48px;
}

.projects > .container > .description > .link-to > .icon-scroll {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.projects > .container > .description > .link-to > .icon-scroll > .icon {
    font-size: 22px;
}

.projects > .container > .image {
  order: 1;
  width: 100%;
  height: 320px;
  border-radius: 10px;
  object-fit: cover;
  z-index: 1;
}



@media (min-width: 720px) {
    .projects > .container {
        flex-direction: row;
        width: 90%;
        max-width: 1300px;
        height: 800px;
    }

    .projects > .container > .description {
        order: 1;
        width: 40%;
    }

    .projects > .container > .description.pair {
        order: 2;
    }

    .projects > .container > .description:nth-child(even) {
        order: 2;
    }

    .projects > .container > .description > .count {
        top: -135px;
        left: -120px;
        font-size: 250px;
    }

    .projects > .container > .description > .head {
        margin-top: 45px;
        font-size: 50px;
    }

    .projects > .container > .description > .link-to {
        transition: all 200ms ease;
    }

    .projects > .container > .description > .link-to:hover {
        transform: translate(4px, 0px);
    }

    .projects > .container > .image {
        width: 40%;
        height: 650px;
    }
}