.skillsetss {
  max-width: 550px;
  width: 90%;
  margin: auto;
  text-align: center;
}

.skillsetss > .title {
  font-size: 1.8em;
}

.skillsetss > .skills-canvas {
  width: 100%;
  height: 45vh;
  margin: auto;
  margin-top: 40px;
}

.skillsetss > .skills-canvas > canvas {
  width: 100%;
  height: 100%;
}

.skillsetss > .skills-images > img {
  display: none;
}

/**
*   Desktop Media Query
**/
@media (min-width: 980px) {
  .skillsetss > .title {
    font-size: 2.1em;
  }

  .skillsetss {
    width: 100%;
    max-width: 920px;
    margin-bottom: 120px;
  }

  .skillsetss > .skills-canvas {
    width: 100%;
    height: 50vh;
    margin: auto;
    margin-top: 40px;
  }
}
