.projects {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 180px;
}

.projects .title {
    font-size: 2.1em;
    margin: 15px 0;
}

.projects .text {
    font-size: 1.5em;
    margin: 10px 0;
}

.projects .projects-wrapper {
    max-width: 1200px;
    position: relative;
    margin: auto;
    margin-top: 120px;
}

.right-arrow {
    position: absolute;
    top: 40%;
    right: -10px;
    font-size: 3rem;
    background-image: linear-gradient(270.35deg, rgb(99, 102, 241) -28.81%, rgba(217, 70, 239, 0.8) 52.72%, rgb(251, 113, 133) 129.31%);
    color: rgb(255, 255, 255);
    border-radius: 100% ;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 40%;
    left: -10px;
    font-size: 3rem;
    background-image: linear-gradient(270.35deg, rgb(99, 102, 241) -28.81%, rgba(217, 70, 239, 0.8) 52.72%, rgb(251, 113, 133) 129.31%);
    color: rgb(255, 255, 255);
    border-radius: 100% ;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.15);
}

.project-image-container {
    width: 80%;
    margin: auto;
    position: relative;
    transition: all 750ms ease-out 1s;
    margin-top: 60px;
}

.project-image {
    width: 100%;
    border-radius: 15px;
}

.projects-image-container:hover .skillsets-image {
    animation: animation-project infinite 1s alternate;
}

@keyframes animation-project {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.8);
    }
  }

.project-image-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: rgb(68, 70, 168);
    opacity: 0;
    transition: all 750ms;
}

.project-image-overlay h4 {
    text-align: center;
    font-weight: bolder;
    transition: all 950ms;
}

.project-image-overlay p {
    text-align: center;
    font-weight: 600;
    transition: all 950ms;
}

.project-image-overlay:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.7);
}

.project-image-overlay:hover h4 {
    transform: translateY(40%);
    border-bottom: 1px rgb(68, 70, 168) solid;
    width: 50%;
    margin: auto;
}

.project-image-overlay:hover p {
    transform: translateY(20%);
}