:root {
  --main-color: #65C7F7;
  --linear-gradient: linear-gradient(270.35deg, #9CECFB -28.81%, #65C7F7 52.72%, #0052D4 129.31%);
}

/*
:root {
  --main-color: #86A8E7;
  --linear-gradient: linear-gradient(270.35deg, #7F7FD5 -28.81%, #86A8E7 52.72%, #91EAE4 129.31%);
}

:root {
  --main-color: #65C7F7;
  --linear-gradient: linear-gradient(270.35deg, #9CECFB -28.81%, #65C7F7 52.72%, #0052D4 129.31%);
}

:root {
  --main-color: #536976;
  --linear-gradient: linear-gradient(270.35deg, #bbd2c5 -28.81%, #536976 52.72%, #292e49 129.31%);
}

*/